<h1>Several ways of creating dataframe</h1>
<b>
1. By reading a csv file<br><br>
2. By reading an xlsx file<br><br>
3. By creating a dictionary with column names as keys       and values as a list<br><br>
4. By creating a list of tuples where each tuple            indicates each record in the dataframe and explicitly    providing the column name into the pd.DataFrame          method<br><br>
5. By creating a list of dictionaries where key             indicates the column name and value indicate the         vaule in the dataframe<br><br>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data1.csv")

In [3]:
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [5]:
# df = pd.read_excel("data1.xlsx","sheetname")

In [6]:
w_data = {
    'day':['1/1/2017','1/2/2017','1/3/2017'],
    'temperature':[32, 35, 28],
    'windspeed':[6,7,2],
    'event':['Rain','Sunny','Snow']
}

In [7]:
df = pd.DataFrame(w_data)

In [8]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [9]:
w_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]

In [11]:
df = pd.DataFrame(w_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [18]:
w_data = [
    {'day':'1/1/2017','temperature':32,'windspeed':6,'event':'Rain'},
    {'day':'1/2/2017','temperature':35,'windspeed':7,'event':'Sunny'},
    {'day':'1/3/2017','temperature':28,'windspeed':2,'event':'Snow'}
]

In [19]:
df = pd.DataFrame(w_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [25]:
df = pd.DataFrame([1,2,3,4,5])

In [26]:
df

   0
0  1
1  2
2  3
3  4
4  5

In [29]:
import numpy as np
pd.DataFrame(np.arange(12).reshape(3,4),columns=['col1','col2','col3','col4'])

   col1  col2  col3  col4
0     0     1     2     3
1     4     5     6     7
2     8     9    10    11